<div class="footer">
    <div class="content mt-4">
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <ul>
                    <li>liên hệ</li>
                    <li>giới thiệu</li>
                    <li>chăm sóc khách hàng</li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-4">
                <ul>
                    <li>liên hệ</li>
                    <li>giới thiệu</li>
                    <li>chăm sóc khách hàng</li>
                </ul>
            </div>
            <div class="col-sm-4 col-lg-4">
                <ul>
                    <li>liên hệ</li>
                    <li>giới thiệu</li>
                    <li>chăm sóc khách hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>